/* Global styles */
body {
  margin: 0;
  padding-top: 100px;
  font-family: "Roboto", Arial, sans-serif;

  background-color: #efd095;
}

.title {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  background-color: #e79c11;
  padding: 20px;
  color: white;
  font-size: 20px;
  height: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 100px;
  flex-shrink: 0;
  transition: transform 0.3s ease-in-out;
}

.logo img:hover {
  transform: scale(0.9);
}

.header-title {
  flex-grow: 1;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
}

.about-us {
  font-size: 18px;
  padding-right: 35px;
  flex-shrink: 0;
}

.nav {
  height: 80%;
  width: 120px;
  position: fixed;
  top: 130px;
  left: 10px;
  background-color: #e79c11;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}

.nav img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.nav img:hover {
  transform: scale(1.1);
}

.user-settings {
  margin-top: auto;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
}

.user-settings:hover {
  text-decoration: underline;
}

.main-content {
  background: rgba(255, 255, 255, 0.8);
  width: 80%;
  margin-left: 200px;
  margin-top: 30px;
  border-radius: 5px;
  padding-top: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*--Sign in page --*/
.login-body {
  font-family: Arial, sans-serif;
  background-color: #f5cd81;
  margin: 0;
  padding: 0;
}

.log_container {
  width: 100%;
  max-width: 400px;
  margin: 150px auto;
  background-color: #fbf4f4;
  border-radius: 30px;
  padding: 30px 30px 30px 30px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.login-title {
  font-size: 32px;
  text-align: center;
  margin-top: 20px;
}

label {
  display: block;
  margin: 15px 0 0 0;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #00752f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #004a1e;
}

.login_signup_nav {
  margin: 15px 0 0 0;
  font-size: small;
}

/*--health track page --*/
.materialboxed-image {
  max-width: 80%;
  max-height: 80%;
}

.other-content {
  background: rgba(255, 255, 255, 0.8);
  width: 80%;
  margin-left: 200px;
  margin-top: 30px;
  border-radius: 5px;
  padding-top: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
}

#user-calculate-btn {
  margin: 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
}

#user-calculate-btn:hover {
  background-color: #00752f;
}

.calculate_btn {
  margin: 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.calculate_btn:hover {
  background-color: #00752f;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.search_btn {
  margin: 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.search_btn:hover {
  background-color: #00752f;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.table-container {
  height: auto;
  max-height: 500px;
  overflow: scroll;
}


table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
  border: 1px solid;
}

th {
  background-color: #eee;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

/* About us page */
.about-us-container {
  background: rgba(255, 255, 255, 0.8);
  padding-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

.about-us-section-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.about-us-section-text {
  font-size: 1em;
  text-align: center;
  margin-bottom: 40px;
}

.about-us {
  font-size: 15px;
}

.about-us-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffa500;
  padding: 10px;
  color: white;
  font-size: 18px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.about-us-our-team,
.contact-us {
  text-align: center;
}

.about-us-our-team ul {
  list-style: none;
  padding: 0;
}

.about-us-our-team li {
  font-size: 14px;
}

/*--main page--*/

.card-container {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 100px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

.event-checklist {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
}

#modal1 {
  background-color: #ffffff;
  border-radius: 5pxrgb (255, 255, 255);
  padding: 20px;
}

#modal1 .modal-content {
  color: #333333;
}

#modal1 .modal-footer {
  background-color: #f1f1f1;
  padding: 10px;
}

#modal1 .modal-footer a {
  margin-right: 10px;
}

#modal1 .btn {
  background-color: #17b11c;
  color: #ffffff;
}

#modal1 .btn:hover {
  background-color: #123f14;
}

#modal1 label {
  font-weight: bold;
}

#modal1 input[type="time"],
#modal1 input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#modal1 input[type="time"]:focus,
#modal1 input[type="text"]:focus {
  outline: none;
  border-color: #4caf50;
}

#modal1 .btn {
  background-color: #17b11c;
  color: #ffffff;
}

#modal1 .btn:hover {
  background-color: #123f14;
}

#modal1 label {
  font-weight: bold;
}

#modal1 input[type="time"],
#modal1 input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#modal1 input[type="time"]:focus,
#modal1 input[type="text"]:focus {
  outline: none;
  border-color: #4caf50;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.user-info-submit-btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 10px;
}
